# golang-jeffCoin.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# SSH KEYS
id_rsa*

# PGP KEYS
*.pgp

# SFTP EXTENSION
.vscode/
sftp.json

# macOS
.DS_Store

# WINDOWS
*:Zone.Identifier

# TAR FILES
*.tar.gz
*.tar.gz.gpg

# RUN (BINARIES)
# **/bin/?????

# TEST
**/test/test_coverage.txt

# Ignore passwords and wallets except the mock ones
/credentials/*.json
!/credentials/Mock*.json
