# CONCOURSE
.credentials.yml

# GO
coverage.out

# macOS
.DS_Store

# Ignore all binaries, but not build.sh
**/bin/hello-go

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for build
**/build-push/hello-go

# Ignore passwords and wallets except the mock ones
/credentials/*.json
!/credentials/Mock*.json