# golang-jeffCoin.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# RUN (BINARIES)
# **/bin/?????

# TEST
**/test/test_coverage.txt

# Ignore passwords and wallets except the mock ones
/credentials/*.json
!/credentials/Mock*.json
