body {
  background-color:  rgb(228, 216, 199);
}

h1  {
    font-size: 30px;
    color: rgb(167, 58, 31);
}

h2 {
    font-size: 20px;
}

p  {
  color: black;
}

#title_box {
	text-align: center;		/* Center it */
	overflow: hidden;
}

#api_commands_box {
    padding-left: 20px;
    padding-bottom: 40px;
	text-align: left;		/* Left */
	overflow: hidden;
}

.api_block {
    padding-left: 30px;
}
