# jeffCoin task-unit-tests.yml

platform: linux

image_resource:
  type: docker-image
  source:
    repository: golang
    tag: 1.7.1

inputs:
- name: jeffCoin

outputs:
- name: coverage-results

run:
  path: ./jeffCoin/ci/scripts/unit-tests.sh
  # args: [-debug]
